[submodule "_posts"]
	path = _posts
	url = https://github.com/ucsdwcsng/site-publications-pages
[submodule "research"]
	path = research
	url = https://github.com/ucsdwcsng/site-research-pages
[submodule "_data/news"]
	path = _data/news
	url = https://github.com/ucsdwcsng/site-news-page
