<ul class="list-arrow-right">
   <li>Paper Registration:   Aug 9<sup>th</sup>, 2024</li>
    <li>Paper Submission:   <s>July 19<sup>th</sup>, 2024  Aug 2<sup>nd</sup>, 2024 </s> Aug 16<sup>th</sup>, 2024</li>
<!--     <s>June 19<sup>th</sup>, 2023</s> <s>June 30<sup>th</sup>, 2023</s> -->
<!--     <li>Reviews Released to Authors:  July 21<sup>th</sup>, 2023
    <li>Rebuttals Due:  July 28<sup>th</sup>, 2023 -->
    <li>Paper Acceptance Notification:  September 6<sup>th</sup>, 2024
    <li>Paper Camera Ready: September 13<sup>th</sup>, 2024
    <br>
    Poster/Demo Submission: <em>Same as paper submission deadlines</em>
   <!--  <li>Poster/Demo/3MT Submission: June 19<sup>th</sup>, 2023</li>
    <li>Poster/Demo/3MT Acceptance Notification: July 19<sup>th</sup>, 2023
    <li>Poster/Demo/3MT Camera Ready: August 1<sup>st</sup>, 2023 -->
</ul>
