---
layout: page
--- 

<i> {{ page.authors }} </i>

{% if page.highlight %}
  <div class="row"><h4>{{ page.highlight }}</h4></div>
{% endif %}

<div class="row">
    <a href="{{ page.paper }}">[Paper]</a>
    {% if page.poster %} <a href="{{ page.poster }}">[Poster]</a> {% endif %}
    {% if page.github %} <a href="{{ page.github }}">[Code]</a> {% endif %}
    {% if page.slides %} <a href="{{ page.slides }}">[Slides]</a> {% endif %}
    {% if page.dataset %} <a href="{{ page.dataset }}">[Dataset]</a> {% endif %}
    {% if page.other %} <a href="{{ page.other.url }}">{{ page.other.display }}</a> {% endif %}
 </div>

<h2>Abstract</h2>
{{ content }}

{% if page.video %}
  <h2>Video</h2>
  <iframe width="560" height="315" src="{{ page.video }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  {% if page.video2 %}
    <iframe width="560" height="315" src="{{ page.video2 }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  {% endif %}
{% endif %}

{% if page.press %}
  <h2>Press Coverage</h2>
  <div class="row">
    {{ page.press.date }}: <a href="{{ page.press.url }}">{{ page.press.headline }}</a>
    {% if page.press2 %} <div class="row">{{ page.press2.date }}: <a href="{{ page.press2.url }}">{{ page.press2.headline }}</a></div> {% endif %}
    {% if page.press3 %} <div class="row">{{ page.press3.date }}: <a href="{{ page.press3.url }}">{{ page.press3.headline }}</a></div> {% endif %}
    {% if page.press4 %} <div class="row">{{ page.press4.date }}: <a href="{{ page.press4.url }}">{{ page.press4.headline }}</a></div> {% endif %}
  </div>
{% endif %}
